* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.vorlage {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

body {
  display: grid;
  grid-template-rows: 50px 380px 440px 380px 490px 430px 120px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 940px;
}

.nav-menu > li {
  padding: 0 10px;
  padding-left: 24px;
  cursor: pointer;
}

.nav-menu > li {
  color: rgb(0, 0, 0);

  text-decoration: none;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(128, 123, 123);

  width: 0;
}
li:hover:after {
  width: 100%;
  left: 0;
}

.header-logo {
  width: 200px;
  margin-left: 190px;
  cursor: pointer;
}

.right {
  margin-left: 200px;
}

.hero-section {
  grid: 2;
  background-color: rgb(243, 245, 247);
  padding-top: 100px;
  padding-left: 200px;
}

.hero-text {
  font-size: 32px;
  color: rgba(64, 92, 119, 0.75);
}

.hero-text > strong {
  color: rgb(64, 92, 119);
}

.button1 {
  margin-top: 40px;
  font-size: 22px;
  color: rgb(239, 146, 0);
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
}

.button1:hover {
  background-color: #f3ebde;
}

.button1:active {
  background-color: #f3ebde;
  transform: translateY(4px);
}

.plagiatbericht {
  color: rgb(64, 92, 119);
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  font-size: 18px;
  margin-top: 60px;
  padding-left: 205px;
}

.second-text1 {
  font-size: 16px;
  padding-left: 205px;
  padding-top: 14px;
  color: #333;
}

.scan {
  margin-left: 858px;
  margin-top: -80px;
}

.datenschutz {
  color: rgb(64, 92, 119);
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  font-size: 18px;
  margin-top: 50px;
  padding-left: 585px;
}

.second-text2 {
  font-size: 16px;
  padding-top: 17px;
  padding-left: 585px;
  color: #333;
}

.tresor {
  margin-top: -87px;
  margin-left: 305px;
}

.third-section {
  grid: 4;
  background: rgb(250, 240, 230);
  padding-top: 380px;
  margin-top: 115px;
}

.Kurzanleitung {
  color: rgb(64, 92, 119);
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  font-size: 30px;
  padding-left: 650px;
  padding-top: 0px;
}

.third-text {
  padding-left: 660px;
}
