* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.vorlage {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}

body {
  display: grid;
  grid-template-rows: 50px 380px 440px 380px 490px 430px 120px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 940px;
}

.nav-menu > li {
  padding: 0 10px;
  padding-left: 24px;
}

.header-logo {
  width: 200px;
  margin-left: 190px;
}

.right {
  margin-left: 230px;
}

.hero-section {
  grid: 2;
  background-color: rgb(243, 245, 247);
  padding-top: 100px;
  padding-left: 80px;
  
  

  
}


